Dokumentacja/main.aux
Dokumentacja/main.log
Dokumentacja/main.synctex.gz
Dokumentacja/main.toc

PHP/app/config/*
PHP/app/config/AppCache.php
PHP/app/config/AppKernel.php
PHP/app/config/.htaccess
PHP/composer.json  
PHP/.gitignore        
PHP/README.md
PHP/tests/*
PHP/vendor/*
PHP/bin/*
PHP/composer.lock
PHP/phpunit.xml.dist
PHP/var/*
PHP/web/*
PHP/src/.htaccess
PHP/src/AppBundle/AppBundle.php


