{% extends 'base.html.twig' %}
{% block title %}Home Drive - Sterowanie{% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Driver is here</h1>
    <p>Wygodny system zarządzania domowymi urządzeniami w jednym miejscu.</p>
  </div>

  <table class="table table-striped">
    <tr><th>Nazwa</th><th>Status</th><th>Funkcja</th></tr>
	<tr>
      <th>Lampa 1</th><td>Status</td>
      <td>
        <a class="btn btn-info" href={{path('driver_transmitter', {'tnr': 1})}}>Zapal</a>
      </td>
	</tr>
	<tr>
      <th>Lampa 2</th><td>Status</td>
      <td>
        <a class="btn btn-info" href={{path('driver_transmitter', {'tnr': 2})}}>Zapal</a>
      </td>
	</tr>
	<tr>
      <th>Lampa 3</th><td>Status</td>
      <td>
        <a class="btn btn-info" href={{path('driver_transmitter', {'tnr': 3})}}>Zapal</a>
      </td>
	</tr>
	<tr>
      <th>Lampa 4</th><td>Status</td>
      <td>
        <a class="btn btn-info" href={{path('driver_transmitter', {'tnr': 4})}}>Zapal</a>
      </td>
	</tr>
  </table>

  <p>
    Jakiś tekst...
  </p>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
