{% extends 'base.html.twig' %}

{% block title %}Home Drive{% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron" id="adin"
  style="background-image:url('{{ asset("img/bg_home.jpg") }}');
         background-repeat: no-repeat;
         background-position: right; ">
    <h1>Home Drive</h1>
    <p>Wszystko w jednym miejscu.</p>
  </div>
  <p>
    Jakiś tekst...
  </p>
  <p>
    Jakiś tekst...
  </p>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
